$full-width-image-window-height: 60em;
$full-width-image-background-height: $full-width-image-window-height * 2;

/* Full Width image slider at the top of the homepage */
.slider {
  min-height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide-content {
  width: 350px;
  position: absolute;
  right: 5%;
  z-index: 9;
  text-align: right;

  h2 {
    font-size: 2.75em;
    color: $red;
  }
}

.slide-background {
  background: url("images/banners/homepage/cupcake_banner1_large.jpg") no-repeat bottom right;
  background-color: $blue;
  height: 26em;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}


/* Heading Section */
.heading {
  h1 {
    margin: 0;
    text-align: center;
  }
}


/* Services Section */
.services {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.service {
  @include span-columns(4);
  $base-border-color: $yellow !default;
  $base-border-radius: 3px !default;
  $base-background-color: $yellow-dark !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $service-border-color: $base-border-color;
  $service-border: 1px solid $service-border-color;
  $service-background: lighten($service-border-color, 10%);
  $service-header-background: $service-background;
  $service-hover-background: lighten($service-background, 3%);
  $service-image-background: #DBD199;
  $service-image-hover-background: lighten($service-image-background, 3%);
  $service-margin: 1em;

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $service-background;
  border-radius: $base-border-radius;
  border: $service-border;
  box-shadow: 0 2px 6px $base-background-color;
  cursor: pointer;
  position: relative;

  .service-image {
    overflow: hidden;
    max-height: 150px;

    img {
      @include transition (all 0.2s ease-in-out);
      background: $service-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
    }
  }

  .service-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $service-header-background;
    border-bottom: $service-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    color: $red;
  }

  .service-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);
    color: $gray-light;

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    background-color: $service-hover-background;

    .service-image img {
      background: $service-image-hover-background;
    }

    .service-header {
      background-color: $service-hover-background;
    }
  }

  &:active {
    background-color: $service-background;

    .service-header {
      background-color: $service-background;
    }
  }
}


/* Parallax section: Weddings? */

.parallax-window {
  max-height: $full-width-image-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  @include outer-container;
  padding-top: 5em;
  padding-bottom: 5em;
}

.parallax-message {
  @include span-columns(6);
  @include shift(3);
  padding: 2.5em;
  position: relative;
  z-index: 9;
  background: $blue;
  color: $yellow-light;
  opacity: 0.85;
  border: $border-blue;
  border-radius: 6px;

  h2 {
    font-size: 3em;
    margin: 0;
    color: $yellow;
  }
  p {
    font-size: 1.25em;
  }
}

.parallax-background {
  background: url("images/banners/homepage/cupcake_banner2_large.jpg") repeat;
  background-position: top;
  background-color: $yellow-light;
  height: $full-width-image-background-height;
  left: 0;
  position: absolute;
  top: - $full-width-image-window-height / 3;
  width: 100%;
}


/* About Section */
.side-image {
  $base-line-height: 1.5em !default;
  $large-screen: em(860) !default;
  $base-font-color: $gray-light;
  $side-image-background-top: #B5EBEB;
  $side-image-background-bottom: #5DAC5D;
  $side-image-content-background: $yellow-light;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

  background: $side-image-content-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background(url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'), linear-gradient($side-image-background-top, $side-image-background-bottom), no-repeat $side-image-background-top scroll);
    background-color: $side-image-background-top;
    background-size: cover;
    border-bottom: $side-image-border;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 8em 4em;
    }

    h1 {
      margin-bottom: 0.9em;
    }

    h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      font-weight: 800;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin-bottom: 3em;
    }

    button {
      @include button(flat, $blue);
      padding: 0.7em 1em;
    }
  }

  @include reset-display();
}

